* {
	font-size: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	width: 800px;
	height: 500px;
}

.top, .bottom {
	border: none;
}

div {
	border: 1px solid black;
}

.top div {
	display: inline-block;
	width: 50%;
	height: 200px;
	border-bottom: none;
}

.bottom div {
	display: inline-block;
	width: 33.33%;
	height: 300px;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
	border-left: none;
}

.grey {
	background-color: grey
}

.black {
	background-color: black;
	border-left: none;
	border-right: none;
}

.orange {
	background-color: orange;
}

